.dashboard {
  padding: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.cards .card {
  flex: 1;
}

.content {
  display: flex;
  gap: 20px;
}

.left, .right {
  flex: 1;
}

.table {
  margin-top: 20px;
}

table {
  width: 100%;
  background: var(--card);
  border-radius: var(--radius);
  overflow: hidden;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

tr:hover {
  background: #f9fafb;
}

input {
  margin: 5px;
}

option {
  background-color: var(--bg-main);
}

button {
  margin: 5px;
}

canvas {
  height: 100;
  width: 100;
}

tr:hover {
  background-color: transparent;
}
